---
import { supabase } from '@/lib/supabase';

async function getProject19Data() {
  /** esto es ejemplo */
  const { data, error } = await supabase
    .from('project_19_weekend_money')
    .select('rank, customer, city, state, totalpoints, entries');

  if (error) {
    console.error('Error fetching data:', error);
    return [];
  }

  const formattedData = data.map(
    ({ rank, customer, city, state, totalpoints, entries }) => [
      rank,
      customer,
      city,
      state,
      totalpoints,
      entries
    ]
  );

  return formattedData;
}

const arrayOfData = await getProject19Data();
---

<section>
  <div class='table-scroll'>
    <table>
      <tr>
        <td></td>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
      <tr>
        <th>08:00 - 09:00</th>
        <td class='unavailable'>-</td>
        <td class='unavailable'>-</td>
        <td class='unavailable'>-</td>
        <td>$120</td>
        <td>$130</td>
        <td>$140</td>
        <td>$160</td>
      </tr>
      <tr>
        <th>09:00 - 10:00</th>
        <td class='unavailable'>-</td>
        <td class='unavailable'>-</td>
        <td>$120</td>
        <td>$130</td>
        <td>$140</td>
        <td>$150</td>
        <td>$170</td>
      </tr>
      <tr>
        <th>10:00 - 11:00</th>
        <td>$120</td>
        <td>$130</td>
        <td>$130</td>
        <td>$140</td>
        <td>$150</td>
        <td>$160</td>
        <td>$180</td>
      </tr>
      <tr>
        <th>11:00 - 12:00</th>
        <td>$130</td>
        <td>$140</td>
        <td>$140</td>
        <td>$150</td>
        <td>$160</td>
        <td>$170</td>
        <td>$190</td>
      </tr>
      <tr>
        <th>12:00 - 13:00</th>
        <td class='unavailable'>-</td>
        <td class='unavailable'>-</td>
        <td class='unavailable'>-</td>
        <td class='unavailable'>-</td>
        <td class='unavailable'>-</td>
        <td>$180</td>
        <td>$200</td>
      </tr>
      <tr>
        <th>13:00 - 14:00</th>
        <td>$140</td>
        <td>$150</td>
        <td>$150</td>
        <td>$160</td>
        <td>$170</td>
        <td>$190</td>
        <td>$210</td>
      </tr>
      <tr>
        <th>14:00 - 15:00</th>
        <td>$140</td>
        <td>$150</td>
        <td>$150</td>
        <td>$160</td>
        <td>$170</td>
        <td>$190</td>
        <td>$210</td>
      </tr>
      <tr>
        <th>15:00 - 16:00</th>
        <td>$150</td>
        <td>$160</td>
        <td>$160</td>
        <td>$170</td>
        <td>$180</td>
        <td>$200</td>
        <td>$220</td>
      </tr>
      <tr>
        <th>16:00 - 17:00</th>
        <td>$160</td>
        <td>$170</td>
        <td>$170</td>
        <td>$180</td>
        <td>$190</td>
        <td>$210</td>
        <td>$230</td>
      </tr>
      <tr>
        <th>17:00 - 18:00</th>
        <td>$170</td>
        <td>$180</td>
        <td>$180</td>
        <td>$190</td>
        <td>$200</td>
        <td>$220</td>
        <td>$240</td>
      </tr>
      <tr>
        <th>18:00 - 19:00</th>
        <td>$180</td>
        <td>$190</td>
        <td>$190</td>
        <td>$200</td>
        <td>$210</td>
        <td>$230</td>
        <td>$250</td>
      </tr>
      <tr>
        <th>19:00 - 20:00</th>
        <td class='unavailable'>-</td>
        <td class='unavailable'>-</td>
        <td>$200</td>
        <td>$210</td>
        <td>$220</td>
        <td>$250</td>
        <td>$270</td>
      </tr>
    </table>
  </div>
</section>

<style is:global>
  @layer base, demo, table;

  * {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  @layer demo {
    section {
      padding: 0.25rem;
      background: light-dark(hsl(0 0% 98%), #000);
      max-width: calc(100vw - 1rem);
      border: 1px solid color-mix(in hsl, canvas, canvasText);
      border-radius: 6px;
      overflow: hidden;
    }
    .table-scroll {
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: oklch(0.5 0.2 calc(var(--hue) * 1deg)) #0000;
    }
    body {
      background: light-dark(#fff, #000);
    }

    td,
    th {
      padding: 0.3vmax 0.6vmax !important;
      text-align: center;
      white-space: nowrap;
      font-weight: 400;
      font-size: 1vmax;
      color: color-mix(in hsl, canvasText, #0000 65%);
    }

    table th {
      color: color-mix(in hsl, canvasText, #0000 35%);
      font-weight: 500;
    }
  }

  @layer table {
    :root {
      --hue: 210;
      --hovered: oklch(0.5 0.2 calc(var(--hue) * 1deg) / 0.8);
      --sibling: oklch(0.5 0.1 calc(var(--hue) * 1deg) / 0.4);
    }
    table {
      border-collapse: collapse;
    }
    table :where(td, th) {
      transition-property: color, opacity, background;
      transition-duration: 0.24s;
    }

    table tr:first-of-type td:first-of-type {
      pointer-events: none;
    }

    table tr:first-of-type td:first-of-type,
    table tr:not(:first-of-type) th {
      position: sticky;
      left: 0;
      background: light-dark(hsl(0 0% 98%), #000);
    }

    table:has(td:hover) :where(th, td) {
      color: color-mix(in hsl, canvasText, #0000 85%);
      transition-duration: 0s;
    }

    tr:not(:first-of-type) td:hover {
      background: var(--hovered);
      color: canvasText;
      font-weight: 600;
      opacity: 1;
    }

    td:has(~ td:hover),
    table:has(td:nth-of-type(1):hover)
      tr:not(:first-of-type):has(~ tr:hover)
      td:nth-of-type(1),
    table:has(td:nth-of-type(2):hover)
      tr:not(:first-of-type):has(~ tr:hover)
      td:nth-of-type(2),
    table:has(td:nth-of-type(3):hover)
      tr:not(:first-of-type):has(~ tr:hover)
      td:nth-of-type(3),
    table:has(td:nth-of-type(4):hover)
      tr:not(:first-of-type):has(~ tr:hover)
      td:nth-of-type(4),
    table:has(td:nth-of-type(5):hover)
      tr:not(:first-of-type):has(~ tr:hover)
      td:nth-of-type(5),
    table:has(td:nth-of-type(6):hover)
      tr:not(:first-of-type):has(~ tr:hover)
      td:nth-of-type(6),
    table:has(td:nth-of-type(7):hover)
      tr:not(:first-of-type):has(~ tr:hover)
      td:nth-of-type(7),
    table:has(td:nth-of-type(8):hover)
      tr:not(:first-of-type):has(~ tr:hover)
      td:nth-of-type(8),
    table:has(td:nth-of-type(9):hover)
      tr:not(:first-of-type):has(~ tr:hover)
      td:nth-of-type(9),
    table:has(td:nth-of-type(10):hover)
      tr:not(:first-of-type):has(~ tr:hover)
      td:nth-of-type(10) {
      opacity: 1;
      color: canvasText;
      background: var(--sibling);
    }

    tr:not(:first-of-type):hover:not(:has(th:hover)) th,
    table:has(tr:not(:first-of-type) td:nth-of-type(1):hover)
      tr:first-of-type
      th:nth-of-type(1),
    table:has(td:nth-of-type(2):hover) tr:first-of-type th:nth-of-type(2),
    table:has(td:nth-of-type(3):hover) tr:first-of-type th:nth-of-type(3),
    table:has(td:nth-of-type(4):hover) tr:first-of-type th:nth-of-type(4),
    table:has(td:nth-of-type(5):hover) tr:first-of-type th:nth-of-type(5),
    table:has(td:nth-of-type(6):hover) tr:first-of-type th:nth-of-type(6),
    table:has(td:nth-of-type(7):hover) tr:first-of-type th:nth-of-type(7),
    table:has(td:nth-of-type(8):hover) tr:first-of-type th:nth-of-type(8),
    table:has(td:nth-of-type(9):hover) tr:first-of-type th:nth-of-type(9),
    table:has(td:nth-of-type(10):hover) tr:first-of-type th:nth-of-type(10) {
      opacity: 1;
      color: canvasText;
    }
  }

  @layer base {
    :root {
      --font-size-min: 16;
      --font-size-max: 20;
      --font-ratio-min: 1.2;
      --font-ratio-max: 1.33;
      --font-width-min: 375;
      --font-width-max: 1500;
    }

    html {
      color-scheme: light dark;
    }

    [data-theme='light'] {
      color-scheme: light only;
    }

    [data-theme='dark'] {
      color-scheme: dark only;
    }

    :where(.fluid) {
      --fluid-min: calc(
        var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
      );
      --fluid-max: calc(
        var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
      );
      --fluid-preferred: calc(
        (var(--fluid-max) - var(--fluid-min)) /
          (var(--font-width-max) - var(--font-width-min))
      );
      --fluid-type: clamp(
        (var(--fluid-min) / 16) * 1rem,
        ((var(--fluid-min) / 16) * 1rem) -
          (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
          (var(--fluid-preferred) * var(--variable-unit, 100vi)),
        (var(--fluid-max) / 16) * 1rem
      );
      font-size: var(--fluid-type);
    }

    *,
    *:after,
    *:before {
      box-sizing: border-box;
    }

    body {
      padding-block: 6rem;
      display: grid;
      place-items: center;
      min-height: 100vh;
      font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
        Helvetica, Arial, sans-serif, system-ui;
    }

    body::before {
      --size: 45px;
      --line: color-mix(in hsl, canvasText, transparent 70%);
      content: '';
      height: 100vh;
      width: 100vw;
      position: fixed;
      background:
        linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50%
          50% / var(--size) var(--size),
        linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
          var(--size) var(--size);
      mask: linear-gradient(-20deg, transparent 50%, white);
      top: 0;
      transform-style: flat;
      pointer-events: none;
      z-index: -1;
    }
  }
  div.tp-dfwv {
    position: fixed;
    * {
      text-transform: lowercase;
    }
  }
</style>

<script>
  import { Pane, TpChangeEvent } from 'tweakpane';

  interface Config {
    theme: 'system' | 'light' | 'dark';
    hue: number;
  }

  const config: Config = {
    theme: 'dark',
    hue: Math.floor(Math.random() * 359)
  };

  const ctrl = new Pane({
    title: 'Config',
    expanded: false
  });

  const update = () => {
    document.documentElement.dataset.theme = config.theme;
    document.documentElement.style.setProperty('--hue', String(config.hue));
  };

  const sync = (event: TpChangeEvent<unknown>) => {
    //@ts-ignore
    const label = event.target.controller.view.labelElement.innerText;

    if (document.startViewTransition && label === 'Theme') {
      document.startViewTransition(() => update());
    } else {
      update();
    }
  };

  ctrl.addBinding(config, 'hue', {
    min: 0,
    max: 359,
    step: 1,
    label: 'hue'
  });

  ctrl.addBinding(config, 'theme', {
    label: 'Theme',
    options: {
      System: 'system',
      Light: 'light',
      Dark: 'dark'
    }
  });

  ctrl.on('change', sync);

  update();
</script>
