---
const array_of_projects = [
  {
    title: 'Global Todo List',
    href: '01/'
  },
  {
    title: 'Github Auth and Email',
    href: '02/project-02-github-auth-and-email'
  },
  {
    title: 'Login and Register With Email',
    href: '03/'
  },
  {
    title: 'Login with Google',
    href: '04/'
  },
  {
    title: 'Pixel Art (to practice Database)',
    href: '05/'
  },
  {
    title: 'RealTime Active Users ',
    href: '06/'
  },
  {
    title: 'Global Designs (Storage Supabase)',
    href: '07/'
  },
  {
    title: 'One Piece Custom Wanted Poster',
    href: '08/'
  },
  {
    title: 'Using a Remote Procedure Call (RPC)',
    href: '09/'
  },
  {
    title: 'Chat Broadcast Realtime (without save Data)',
    href: '10/'
  },
  {
    title: 'Webhook in a DataBase',
    href: '11/'
  },
  {
    title: 'CRUD with the API REST',
    href: '12/'
  },
  {
    title: 'Magic Link Auth',
    href: '13/'
  },
  {
    title: 'Using a Postgres Trigger',
    href: '14/'
  },
  {
    title: 'Dragabble Element with Realtime Update',
    href: '15/'
  },
  {
    title: 'Pagination of a DataBase',
    href: '16/'
  },
  {
    title: 'FullText WebSearch',
    href: '17/'
  },
  {
    title: 'Partial Search',
    href: '18/'
  },
  {
    title: 'Table partitioning',
    href: '19/'
  },
  {
    title: 'Leaderboard - Bow and Arrow',
    href: '20/'
  },
];
---

<section class='container-links'>
  {
    array_of_projects.map(({ title, href }, i) => (
      <a href={href}>{`${i + 1}) ${title}`}</a>
    ))
  }
</section>

<style>
  .container-links {
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    padding: 1vmax;
  }
</style>
