---
import LogoutButton from './LogoutButton.astro';
---

<h1>You are Login</h1>

<LogoutButton />

<style>
  body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    background-image: url('/assets/bg-image-project-13.avif');
    background-size: cover;
  }
</style>
